<html>
  <body>
    <table border="1">
      <tr>
        <td>
          <h1 align="center">Solicitação de reinicio de senha solicitada</h1>
           <h3>Foi enviado um email para "USUARIO" com um link para alteração da senha</h3>
           <h4>Siga as instruções abaixo!!</h4>
           <p>1. Por favor, clique no link: "Recuperar senha" para reiniciar sua senha</p>
         <p>2. Após clicar no link "Recuperar senha" abrirá uma nova janela onde poderá definir sua nova senha.</p>
           <a href="">Recuperar Senha</a>
        </td>
      </tr>
    </table>
  </body>
</html>
